.selector-container {
    position: relative;
    text-align: center;
    color: white;
}

.wall-select {
    position: absolute;
    bottom: 500px;
    left: 1000px;
}

.tv-select {
    position: absolute;
    bottom: 240px;
    left: 400px;
}

.decorations-select {
    position: absolute;
    bottom: 420px;
    left: 685px;
}

.carpet-select {
    position: absolute;
    bottom: 85px;
    left: 900px;
}

.page-title {
    font-size: 35px;
    text-align: center;
    background: #006d77;
    color: white;
    padding: 15px;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f8f9fa;
}